<svelte:head>
  <title>Netflix Analysis</title>
</svelte:head>
<div class="flex flex-col gap-8 p-8">
  <Row class="gap-8">
    <Column class="basis-4/12">
      <Row>
        <Column>
          <Text.H1>Netflix Analysis</Text.H1>
          <Text.H4>This view shows titles added to Netflix over the years.</Text.H4>
        </Column>
      </Row>
      <Row class="mt-4">
        <Input param="start_year" type="number" value="2000" />
        <Input param="end_year" type="number" value="2024" />
      </Row>
      <Row>
        <RunButton
          class="mt-2"
          queries={[
            "titles-year-type",
            "titles-type",
            "titles-top-countries",
            "titles-type-top-countries",
            "titles-table"
          ]}
        >
          Run query
        </RunButton>
      </Row>
    </Column>
    <Column class="basis-4/12">
      <MixedChart
        query='titles-year-type'
        x='release_year'
        y={[
        {name: 'count_shows', chartType: 'line'},
        {name: 'count_movies', chartType: 'line'},
        ]}
        xTitle='Year'
        yTitle='Titles'
      />
    </Column>
    <Column class="basis-4/12">
      <PieChart
        query='titles-type'
        x='type'
        y='count'
        title='Titles by type'
        config={{
          showHole: true
        }}
      />
    </Column>
  </Row>
  <Row class="gap-8">
    <Column class="basis-6/12">
      <Row>
        <MixedChart
          query='titles-top-countries'
          x='country'
          y={[
          {name: 'count', chartType: 'bar'},
          ]}
          xTitle='Country'
          yTitle='Titles'
        />
      </Row>
    </Column>
    <Column class="basis-6/12">
      <Row>
        <MixedChart
          query='titles-type-top-countries'
          x='country'
          y={[
          {name: 'movie_rate', chartType: 'bar'},
          {name: 'show_rate', chartType: 'bar'},
          ]}
          xTitle='Country'
          yTitle='Titles'
        />
      </Row>
    </Column>
  </Row>
  <Row>
    <Column>
      <Row>
        <Table query="titles-table" />
      </Row>
    </Column>
  </Row>
</div>